body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #212121;
    color: white;
}
table,tr,th,td{
    border: 1px solid white;
    border-collapse:collapse;
}