*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
h1{
    background-color: black;
    color: white;
    margin-top: 10px;
    padding-left: 24%;
}
button{
    background-color: black;
    color: antiquewhite;
    height: 30px;
    width: 70px;
    border-radius: 5px;
}
div{
    margin-top: 10px;
    margin-left: 40%;
    padding: 10px;
}