*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vmax;
    flex-direction: column;
    
}
#input{
    background-color: rgb(246, 244, 247);
    border: 1px solid rgb(48, 42, 42);
    border-radius: 15px;
    height: 50px;
    width: 500px;
    margin: 25px;
}

#btn{
    background-color: rgb(225, 219, 228);
    border: 1px solid rgb(192, 185, 185);
    border-radius: 15px;
    height: 500px;
    width: 500px;
}